<div class="row main">
  
  <div class="title">
    <div class="row justify-content-start">
      <div class="col-4">
        <a class="titleFrench font-weight-bold">French </a>
      </div>
    </div>    
    <div class="row justify-content-start">
      <div class="col-4">
        <a class="titleOther font-weight-light">applies to</a> 
      </div>
    </div>   
    <div class="row justify-content-center">
      <div class="col-md-6 col-sm-12">
        <a class="titleLife"></a>
      </div>
      <div class="col-6">
        <a class="titleLife">Life</a>
      </div>
    </div>
  </div>
</div>
<div class="row generalRow">
  <div class="col-lg-4 col-md-12 col-sm-12">
    <div class="text-center rounded imgDiv">
      <img src="../../../assets/pictures/site/profile.jpg" style="max-height: 100%;" alt="C'est moi!">
    </div>
  </div>
  <div class="col-lg-8 col-md-12 col-sm-12 introduction">
    <h1 style="margin-bottom: 5%;
    background-color: rgb(255,96,96);
    color: white;display: inline-table; padding-right: 5px;">Hello, I’m <strong>Benjamin Ferrer</strong></h1>
    <p>Do you always dreamed of learning the language of Molière and Chopin? </p>
    <p>Have you planned to rest on the French beaches? </p>
    <p>This page is made for all of you and my courses will be shaped by your desires and needs! </p>
    <p><i>(Bread and cheese lover are welcome in this page.)</i></p>
  </div>
</div>
<div class="row generalRow" style="margin-top:50px;">
  <div class="col">
    <div class="row">
      <h1 class="underline">Services I provide</h1>
    </div>
    <div class="row pl-5 d-flex justify-content-center center">
      <div class="col-md-3 col-sm-12">
        <div class="card card1 rounded-0" style="width: 18rem;">
          <div class="card-body card-title">
            <h1 class="" >French</h1>
          </div>
          <div class="card-body">
            <p class="card-text" style="color: #848484;
            font-size: 1em;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/post/class1" class="btn btn-secondary">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="card card1" style="width: 18rem;">
          <div class="card-body card-title">
            <h1 class="card-title" >European School</h1>
          </div>
          <div class="card-body">
            <p class="card-text" style="color: #848484;
            font-size: 1em;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/post/class2" class="btn btn-secondary">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="card card1 rounded-0" style="width: 18rem;">
          <div class="card-body card-title">
            <h1 class="card-title" >Writing Class</h1>
          </div>
          <div class="card-body">
            <p class="card-text" style="color: #848484;
            font-size: 1em;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/post/class3" class="btn btn-secondary">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

