.markdown-wrapper{
    padding: 45px;
    padding-top: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;;
}


h2 a {
   color: #ff4242;
   text-decoration-line: underline;
}

h6 {
    color: black;
    font-weight: 400;
}

p {
    color: grey;
}


hr {
    height:7px; 
    background-color:hsl(346, 100%, 77%);
    color: hsl(346, 100%, 77%);
    border-top-style: dotted ;
}


