.scroller{
    background-color: #c8002e!important;
}

.logo{
    text-decoration: underline;
    font-style: oblique;
    color: white;
    font-weight: bold;
}

.bg{
    background-color:transparent;
}

.item-text a{
    color: rgb(255, 209, 209)!important;
}