<nav class="navbar navbar-expand-sm navbar-dark bg fixed-top" [ngClass]="{'scroller': this.scrolled}">
  <a class="navbar-brand logo" href="/benjamin-prof/introduction">Benjamin Ferrer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse text-right flex-grow-1 item-text" id="navbarText">
    <ul class="navbar-nav ml-auto flex-nowrap">
      <li class="nav-item">
        <a class="nav-link" href="/benjamin-prof/blog">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/benjamin-prof/post/price">Pricing</a>
      </li>
    </ul>
  </div>
</nav>
